In [ ]:
Name:Divyansh Choudhary
M2



Q1
Ans: Tuple = tuple is immutable, example = (2,'Ramesh','Delhi')
List = list is mutable, example= [1,2,5],[34,45,56]

In [3]:
mytuple=(2,'Ramesh','Delhi')
print(mytuple)

(2, 'Ramesh', 'Delhi')

In [1]:
mylist =[1,2,3,3,4]
print(mylist)

[1, 2, 3, 3, 4]

In [ ]:
Q2
ans:
input()it is user input data and  stores data in variable form and by default it stores data as strings

In [ ]:
Q3
ans: dictionary is a unordered data where we add information, dictionary is mutable in python 
syntax/example: my_dict = {01,'Ayush','New Delhi',9098092009)}

In [5]:
my_dict = {1,'Ayush','New Delhi',9098080890}
print(my_dict)

{1, 'Ayush', 9098080890, 'New Delhi'}

In [ ]:
Q4
ans: for loop is used to iterate the data in sequence
number = [1,2,3,4,5,6]
for i in number
if(i ==5):
    print(i)

In [13]:
number = [1,2,3,4,5]
for i in number:
 if(i ==1,5):
    print(i)

1
2
3
4
5

In [ ]:
Q5
ans: exceptional handling is used to handle the errors arising 
while we are executing the code
try: try is used to test the line of code 
    except: except is used when running the code
    finally: finally always runs the code

In [16]:
try:
    print('done')

_IncompleteInputError: incomplete input (684859489.py, line 2)

In [17]:
except:
print('an error occured')

SyntaxError: invalid syntax (2709370924.py, line 1)

In [20]:
finally:
print('try again later')

SyntaxError: invalid syntax (3763980061.py, line 1)

In [ ]:
Q6
Ans:
python module have python statements and definitions 
python modules allowed us ways to perform operations

import math will import the math module any function which has mathematical expression
is from import math.

from math import will import all functions that can be used as sqrt etc.

In [ ]:
Q7
Ans: OOP or object oriented programming in python 
means to group up classes and objects in a code to display real world entities
class: class is a blueprint of object
Object: object is a instance of class

In [31]:
class Car:

    def __init__(self, brand, color):
        self.brand = brand  
        self.color = color  
    def display_info(self):
        print(f"This is a {self.color} {self.brand} car.")

car1 = Car('mahindra', 'white')
car2 = Car('Hyundai', 'Red')
car1.display_info()  
car2.display_info()

This is a white mahindra car.
This is a Red Hyundai car.

In [ ]:
Q8
Ans: list comprehension is used to create new list based 
on the values of existing list

In [36]:
result = []
for x in range(10):
 if x % 2 == 0:
result.append(x * 2)
print('Done')

IndentationError: expected an indented block after 'if' statement on line 3 (2277986396.py, line 4)

In [39]:

Q9
ans 
import math

def calculate_area(radius):
    '''Calculate the area of a circle given its radius.'''
    area = math.pi * radius * 3.14
    return area

radius = 5
result = calculate_area(radius)
print(f"The area of the circle with radius {radius} is {result:.2f}")

The area of the circle with radius 5 is 49.32